.products {
  padding: 0 2em;

  &__breadcrumb {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1em;
    color: #00374F;
  }

  &__table {
    margin-top: 1.5em;
  }
}